.main {
    margin: auto;
    width: 100%;
    display: flex;
    max-width: 100%;
    color: #ffffff;
    font-weight: bold;
    font-size: large;
    margin-bottom: 30px;
    justify-content: space-around;
    background-color: #000000;
    border-radius: 0px 0px 10px 10px;
  }
  .main div {
    margin: 25px;
    cursor: pointer;
  }
  .main div:hover {
    color: rgb(168, 168, 168);
  }